<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" ></supportedRuntime>
    </startup>
	<connectionStrings>
		<add name="login_database" connectionString="Data Source=YEC-PC;Initial Catalog=login;Integrated Security=True;Encrypt=False"/>
	</connectionStrings>
</configuration>